* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow-y: hidden;*/
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("images/Charminar-Pride_of_Hyderabad.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  z-index: -1;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 700px;
  margin: 20vh auto;
  padding: 40px 30px;
  background-color: rgba(0, 0, 0, 0.6);;
  border-radius: 15px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  color: #dcdcff;
  margin-bottom: 30px;
  line-height: 1.6;
}

button {
  font-size: 1rem;
  padding: 12px 24px;
  background-color: #00BFFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

button:hover {
  background-color: #2ca0d9;
  color: white;
  transform: scale(1.2);
}

footer{
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 10vh 20px;
    padding: 25px 20px;
  }

  h1 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  button {
    width: 100%;
    font-size: 1.1rem;
  }
}